<div class="contenedor-principal">
	<table class="highlight">
		<thead>
			<tr>
				<th colspan="5">Datos Generales</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
				<td><b>Nombre(s)</b></td>
				<td>{{profesor.nombres}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Apellido paterno</b></td>
				<td>{{profesor.apellidoPaterno}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Apellido materno</b></td>
				<td>{{profesor.apellidoMaterno}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Correo</b></td>
				<td>{{profesor.correoProfesor}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Nivel</b></td>
				<td>{{profesor.nivel}}</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Grado</b></td>
				<td>{{profesor.grado}}</td>
			</tr>
		</tbody>
	</table>
</div>