<nav>
	<div class="nav-wrapper">
		<a href="#!" class="brand-logo">Logo</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li>
				<a class="dropdown-trigger" data-target="dropdown-ver" href="#">
					Ver<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>			
			<li>
				<a class="dropdown-trigger" data-target="dropdown-mostrar" href="#">
					Mostrar<i class="material-icons right">arrow_drop_down</i>
				</a>
			</li>
			<li>
				<a class="right black-text" (click)="logout()"><i class="material-icons right vertical-align-middle">exit_to_app</i></a>
			</li>
		</ul>
		<ul id="dropdown-mostrar" class="dropdown-content">
			<li><a href="/home/generales/{{idProfesor}}">Datos Generales</a></li>
			<li><a href="/home/articulos/{{idProfesor}}">Publicaciones</a></li>
			<li><a href="#">Comisiones</a></li>
		</ul>
		<ul id="dropdown-ver" class="dropdown-content">
			<li><a href="#">Articulos</a></li>
			<li><a href="#">Materias</a></li>
			<li><a href="#">Comisiones</a></li>
		</ul>
	</div>
	
</nav>
<div>
	<ul class="sidenav" id="mobile-demo">
		<li>
			<a class="dropdown-trigger" data-target="dropdown-ver-m" href="#">
				Ver<i class="material-icons right">arrow_drop_down</i>
			</a>
		</li>			
		<li>
			<a class="dropdown-trigger" data-target="dropdown-mostrar-m" href="#">
				Mostrar<i class="material-icons right">arrow_drop_down</i>
			</a>
		</li>
	</ul>
	<ul id="dropdown-mostrar-m" class="dropdown-content">
		<li><a href="#">Articulos</a></li>
		<li><a href="#">Materias</a></li>
		<li><a href="#">Comisiones</a></li>
	</ul>
	<ul id="dropdown-ver-m" class="dropdown-content">
		<li><a href="#">Articulos</a></li>
		<li><a href="#">Materias</a></li>
		<li><a href="#">Comisiones</a></li>
	</ul>
</div>
<!-- <div class="contenedor-principal">
	<div class="container">
		<div class="row">
			<div class="col s12 m4 l3">
				<h2>Erik Ramos</h2>
			</div>
			<div class="col s12 m8 l9">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
					ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
					velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
					cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
					est laborum.
				</p>
			</div>
		</div>
	</div>
</div> -->